<h1>This is the index page</h1>
<div id="eaten" width="50%">
    <h2>I ate this</h2>
    {{#each burger_data}}
        {{#if devoured}}
            <button class="burgerbtn" data-id="{{id}}" data-state="{{devoured}}">{{burger_name}}</button>
        {{/if}}
    {{/each}}
</div>
<div id="notEaten" width="50%">
    <h2>I didnt eat this</h2>    
    {{#each burger_data}} {{#unless this.devoured}}
        <button class="burgerbtn" data-id="{{id}}" data-state="{{devoured}}">{{burger_name}}</button>
    {{/unless}} {{/each}}
</div>
<a href="/burgers">Go to Burgers</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    
    //put request into bugers controller 
    $(document).on('click', '.burgerbtn', function(){
        var burgerID = $(this).attr('data-id');
        var devouredState = $(this).attr('data-state');
        $.ajax({
            method: 'PUT',
            url: '/eatburger/' + burgerID,
            data: {st: devouredState}
        }).then(function(burgerInfo){
            location.reload();
        })
    })


</script>